<style>
        .jumbotron{
            background-image: url(gg.jpg);
            background-size: cover;
            height: 800px;
            text-align: center;
            margin-top: -180px;
        }
        .jumbotron .display{
            color: white;
            margin-top: 250px;
        }
        .jumbotron p{
             color: white;
        }

</style>
